<!-- header.html -->
<header>
  <div class="loader"></div>
  <div class="top-nav">
      <div class="logo">
          <a href="{{ "/" | relLangURL }}"><img src="{{ "/images/logo.png" | absURL }}" alt="Logo"></a>
      </div>
      <div class="site-name">
          <a href="{{ "/" | relLangURL }}">Global Infectious Disease Surveillance Dashboard</a>
      </div>
      <div class="menu">
          <div class="dropdown">
              <button class="dropbtn">Countries</button>
              <div class="dropdown-content">
                <a href="{{ "/CN/" | relLangURL }}">
                    <img src="https://flagcdn.com/w20/cn.png" alt="China Flag" style="width:20px; height:14px;"> China
                </a>
                <a href="{{ "/AU/" | relLangURL }}">
                    <img src="https://flagcdn.com/w20/au.png" alt="Australia Flag" style="width:20px; height:14px;"> Australia
                </a>
                  <!-- 更多国家 -->
              </div>
          </div>
          <!-- <div class="dropdown">
              <button class="dropbtn">Language</button>
              <div class="dropdown-content">
                  <a href="{{ "/?lang=en" }}">English</a>
                  <a href="{{ "/?lang=cn" }}">中文</a>
              </div>
          </div> -->
          <a href="{{ "/about/" | relLangURL }}">About</a>
          <a href="{{ "/subscribe/" | relLangURL }}">Subscribe</a>
      </div>
  </div>
  <script>
    window.addEventListener('load', function() {
      document.querySelector('.loader').style.display = 'none';
    });
  </script>
</header>
