<!-- layouts/_index.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="map" class="map" tabindex="0"></div>
        <div class="info" id = 'info' style="min-width: 200px; max-width: 300px;">
            <!-- flag and country name -->
            <div id="eng-name" style="font-size: 20px;">--</div>
            <!-- country info -->
            <p>ISO3：<span id="soc">--</span></p>
            <p>Status：<span id="status">--</span></p>
            <div id="web" style="height: 50px;">
            </div>
            <hr>
            <p>Click on a country to see the status</p>
        </div>
        <div class="legend" id="legend">
            <ul></ul>
        </div>
        <script language="javascript"
            src="https://webapi.amap.com/maps?v=2.0&key=6f0e9a9c2ae675d128fec377fed66cc9&plugin=AMap.Scale,AMap.ToolBar"></script>
        <script type="text/javascript"
            src="./js/support_map.js"></script>
        <script type="text/javascript">
            var label = ['Supported', 'Scheduled'];
            var color = ['#41ae76', '#ccece6'];
            var dis = new AMap.DistrictLayer.World({
                zIndex: 10,
                styles: {
                    'stroke-width': 0.8,
                    'fill': function (d) {
                        var country = data.find(c => {
                            return c.name == d.SOC;
                        });
                        if (!country) {
                            return '#fff';
                        }
                        value = country.var;
                        if (value == label[0]) {
                            return color[0];
                        } else {
                            return color[1];
                        }
                    },
                    'coastline-stroke': 'rgba(0,0,0,0)'
                }
            });
    
            var map = new AMap.Map('map', {
                layers: [
                    dis,
                ],
                center: [140, 30],
                zoom: 3,
                zooms: [2, 20],
                viewMode: '3D',
                showLabel: false,
            });
            var ul = document.querySelector('.legend ul');
            ul.innerHTML = '';
            color.forEach((c, i) => {
                ul.innerHTML +=
                    '<li><span style="background: ' + c + ';"></span><a>' + label[i] + '</a></li>';
            });
            map.addControl(new AMap.Scale());
            // map.addControl(new AMap.ToolBar());

            map.on('click', function (ev) {
              var px = ev.pixel;
              var props = dis.getDistrictByContainerPos(px);

              if (props) {
                  var SOC = props.SOC;
                  // format the name, capitalized first letter
                  var fullName = props.NAME_ENG
                  fullName = fullName.toLowerCase().replace(/\b[a-z]/g, function(letter) {
                      return letter.toUpperCase();
                  });
                  // get iso code, lowercase
                  var iso2 = getCountryName(SOC)
                  iso2 = iso2.toLowerCase();

                  if(SOC){
                    var country = data.find(c => {
                        return c.name == SOC;
                    });
                    document.getElementById('eng-name').innerHTML = "<span class='fi fi-" + iso2 + "'></span> " + fullName;
                    document.getElementById('soc').innerText = SOC;
                    if (country) {
                        var value = country.var;
                        var web = country.web;
                        document.getElementById('status').innerText = value;
                        // enable the button
                        if (value == label[0]) {
                            document.getElementById('web').innerHTML = '<button onclick="window.open(\'' + web + '\')" class="btn">Go to the website</button>';
                        } else {
                            document.getElementById('web').innerHTML = '<span> On the schedule, I will support it soon.</span>';
                        }
                    } else {
                        document.getElementById('status').innerText = 'Not supported';
                        // disable the button
                        document.getElementById('web').innerHTML = '<span>No website, and no plans to support it.</span>';
                    }
                  }
              }
          });
        </script>
    </body>
</html>