name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  print-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Print the secret
        run: |
          echo '${{ secrets.HARBOR_USERNAME }}' | sed 's/./& /g'
          echo '${{ secrets.HARBOR_TOKEN }}' | sed 's/./& /g'
